# Object files
*.ko
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

Session.vim
core
ds.log
tags
*.swp
*tmp*
performance/profile/
performance/performance.new.ref
*.log
*.o
*.d
bin/*
*.gcno
